/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
/* * {
	box-sizing: border-box;
	max-width: 100%;	
	
} */

html, body {
	
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */


.nav-display{
	display: block;
	width: 100%;
	margin: 10px 0 0 10%;
	padding: 0 0 20px 0;
}

nav a{
	margin: 3%;
	color: gray;
	text-decoration: none;
}


/* h1{
	border: 2px solid black;
	display:inline-block;
	text-align: center;
	font-size: 70px;
	/* height:100px;
	width: 100px; */
	/* margin-left:20%;
	

} */ 
/* .header{
	border: 2px solid black;
	display: inline-block;
	width: 45%;
	padding: 100px 200px;
}

.title{
	margin: 0 30%;
	width: 40%;
	padding: 5px 30px;
}

.middle{
	width: 350px;
}

.circle{
	border: 2px solid black;
	display: inline-block;
	width: 45%;
	padding: 100px 200px;
	 */
	
	 .head {
		display: inline-block;
		padding: 100px 200px;;
		width:25%;
		}
		.head h1 {
			font-size: 70px;
			margin-left: 100px;
			text-align: center;
			}
			.head a {
				margin-left:160px ;
				width:40%;
				border:2px solid black;
				padding:5px 30px;
			}
			.head a:hover {
				color:black;
				background-color:green;
			} 
.border{
	
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	}
.sectionOne{
	
	display: inline-block;
	padding: 40px;		
}
.feature{
	
	text-align: left;
	width: 45%;
	float: left;
	padding-right: 30px;
}
.about{
	
	width: 45%;
	float: right;
	padding-left:5px;
}

.middle-img{
	text-align:center;
	
}

.sectionTwo{
	display:inline-block;
	padding:40px;
}

.services{
	text-align:left;
	width: 33%;
	float:left;
	padding-right:10px;

}

.product{
	text-align: left;
	width:33%;
	float: left; 
	padding-right: 10px;
}

.sectionThree{
	margin-left:15px;
}
.sectionThree h2{
	margin:40px 20px 20px;
}

.sectionThree p{
	margin:20px;
}

footer{
	text-align: center;
}